
VITE_DEV_API_TARGET=https://h38aqomaxk.execute-api.us-east-1.amazonaws.com/
VITE_API_BASE_URL=https://h38aqomaxk.execute-api.us-east-1.amazonaws.com/
VITE_API_TIMEOUT_MS=30000
VITE_APP_TITLE=Safety View - COSMOS
#   fd6c2bd6-60d5-4993-9e2f-5a605caf8368  Data Dictionary
#   96733cd9-f774-4d38-8eee-34fca8c2b05e  DS_SMARTONE_MED_ALERT_KMS
#   d9ddc96f-7ad5-4a18-9f98-5f1d93c7e226  DS_SMARTONE_NON_MED_ALERT_KMS-New
#   0b8ee1f9-4a28-48e3-aef9-005b1e8e871b  SQL_DS_LAB_DATA_DETAILS
#   72077419-74e0-40f5-b54c-44ac4e129fec  Main TableField
#   2ae09e6d-b9bc-4d66-8c9c-a914c7091711  SV_Golden_layer_Table_V3
VITE_QS_DATASET_IDENTIFIER=2ae09e6d-b9bc-4d66-8c9c-a914c7091711
