
VITE_DEV_API_TARGET=https://h38aqomaxk.execute-api.us-east-1.amazonaws.com/
VITE_API_BASE_URL=https://h38aqomaxk.execute-api.us-east-1.amazonaws.com/
VITE_API_TIMEOUT_MS=30000
VITE_APP_TITLE=Safety View - COSMOS
VITE_QS_DATASET_IDENTIFIER=SV_Golden_layer_Table_V3
VITE_COLUMN_MAP_S3_URL=
